<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">Marvel Api test - Kunder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchValue"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="loadComics($event)"
    placeholder="Título">
  </ion-searchbar>
  <h5 align="center">Buscar por fecha de publicación</h5>
  <ion-card>
    <div class="item row">
      <ion-card align="right" class="col col-50 space">
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate" (ionChange)="changeDate($event,'min')" placeholder="Desde" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
      </ion-card>
      <ion-card align="right" class="col col-50 space">
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate2" (ionChange)="changeDate($event,'max')" placeholder="Hasta" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
      </ion-card>
    </div>
  </ion-card>
  <ion-list >
    <button ion-item *ngFor="let comic of comics" (click)="itemTapped($event, comic)">
      <ion-card>
        <img src={{comic.thumbnail.path}}.{{comic.thumbnail.extension}} />
        <ion-card-content>
          <ion-card-title text-wrap color='title'>
            {{comic.title}}
          </ion-card-title>
          <p text-wrap secondary>
            {{comic.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
<!--  <b>{{searchValue}}</b>
  <b>{{searchValue2}}</b>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>-->
</ion-content>
